.course_main{
    height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.course_name1{
    background-color: rgb(102, 110, 212);
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: flex-end;

}
.course_name2{
    background-color: rgb(75, 177, 155);
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: flex-end;
}
.course_name3{
    background-color: rgb(182, 112, 79);
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: flex-end;
}
.course{
    border-radius: 20px;
    box-shadow: 5px 10px #f5f3f3;

}
 
.course_name{
    height: 30%;
    display: flex;
    align-items: flex-end;
    background-color: bisque;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.course h1{
    color: white;
    text-align: left;
     
}
.course_main p{
    text-align: justify;
    padding: 20px;
}
.course_info{
    margin-top: 50px;
}
.course_info h3{
    padding: 10px;
}
#details{
    text-align: end;
    margin-right: 20px;
}