.step_main{
    background-color: rgb(245, 230, 210);
    height: 40vh;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}
.one{
    padding: 20px;
    width: 15%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}
.step_main span{
    padding: 10px;
    background-color: rgb(245, 230, 210);
    border-radius: 5px;
}
.step_main .list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}